# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\xampp_php7.4\htdocs\reactNode\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
